
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Uniquedice- check whitelist</title>
  <link crossorigin="anonymous" media="all" rel="stylesheet" href="/static/css/simple.css" />
</head>
<body>
  <div id="main">
    <!-- Header & Navigation -->
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="/"><span class="logo_colour">Unique Dice</span></a></h1>
          <h2>check if token in unique dice contract's whitelist......</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="/playgame">Play Game</a></li>
          <li><a href="/whitelist/modify">Modify WhiteList</a></li>
          <li><a href="/whitelist/checkwhitelist" style="color:#aabbcc;font-size: large">Check Token</a></li>
          <li><a href="/grant">Grant Delegate</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>

    <div id="site_content">
        <form action="/whitelist/checkwhitelist" method="post" enctype="application/x-www-form-urlencoded">
            Token address:<br>
            <input type="text" name="tokenaddr"><br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <!-- Footer -->
    <div id="footer">
      Copyright © 2018 @Ambr All Rights Reserved 
    </div>
  </div>
</body>
</html>
