<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Uniquedice- request list</title>
  <link crossorigin="anonymous" media="all" rel="stylesheet" href="/static/css/simple.css" />
</head>
<body>
  <div id="main">
    <!-- Header & Navigation -->
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="/"><span class="logo_colour">Unique Dice</span></a></h1>
          <h2>Manage all of the whitelist modify requests...</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="/playgame">Play Game</a></li>
          <li><a href="/whitelist/modify">Modify WhiteList</a></li>
          <li><a href="/whitelist/checkwhitelist">Check Token</a></li>
          <li><a href="/grant">Grant Delegate</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>

    <div id="site_content">
        <h2>Manage all of the whitelist modify requests</h2>
        <h3><a href="/whitelist/historyrequests">click here to view approved requests</a></h3>
        {{$le:= len .}}
        <table width="100%">
            <tr><th>Requester</th><th>EMail</th><th>TokenAddress</th><th>Description</th><th>TimeStamp</th><th></th><th></th></tr>
            {{range .}}
                <tr>
                    <td>{{.Username}}</td>
                    <td>{{.Email}}</td>
                    <td>{{.TokenAddress}}</td>
                    <td>{{.Description}}</td>
                    <td>{{.Timestamp}}</td>
                    <td><a href="/whitelist/request/approve?id={{.TokenAddress}}">Approve</a></td>
                    <td><a href="/whitelist/request/delete?id={{.TokenAddress}}">Delete</a></td>
                </tr>
            {{end}}
        </table>
        {{if eq $le 0}}  
            <p align="center"> No any requests </p>
        {{end}}
        
    </div>

    <!-- Footer -->
    <div id="footer">
      Copyright © 2018 @Ambr All Rights Reserved 
    </div>
  </div>
</body>
</html>