<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Supply chain</title>
  <link crossorigin="anonymous" media="all" rel="stylesheet" href="/static/css/simple.css" />
</head>
<body>
  <div id="main">
    <!-- Header & Navigation -->
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="/"><span class="logo_colour">Supply chain</span></a></h1>
          <h2>welcome to the supplychain dashboard......</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="/"  style="color:#aabbcc;font-size: large">Home</a></li>
          <li><a href="/register">Enroll</a></li>
          <li><a href="/invoke">Invoke</a></li>
          <li><a href="/query">Query</a></li>
          <li><a href="/channels">Channels</a></li>
          <li><a href="/tester">StressTester</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>

    <div id="site_content">
        <h2>About the web</h2>
        <li>The goal of this project is to test the API and show some usage</li>

        <h2>Usage</h2>
        <li>register & enroll <a href="/register">enroll yourself</a></li>
        <li>test invoke <a href="/invoke">invoke chaincode</a></li>
        <li>test query <a href="/query">query chaincode</a></li>
        
        <h2>Tools for your need</h2>
        <li>stress tester <a href="/tester">stress tester</a></li>
        <li>query transaction <a href="/transaction">query transaction</a></li>
        <li>Message board</li>
        <li>Contact US</li>
    </div>
    <!-- Footer -->
    <div id="footer">
      Copyright © 2019 @Ambr All Rights Reserved 
    </div>
  </div>
</body>
</html>
