
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Supply chain</title>
  <link crossorigin="anonymous" media="all" rel="stylesheet" href="/static/css/simple.css" />
</head>
<body>
  <div id="main">
    <!-- Header & Navigation -->
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="/"><span class="logo_colour">Supply chain</span></a></h1>
          <h2>Invoke the chaincode & generate transaction on chain</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="/" >Home</a></li>
          <li><a href="/register">Enroll</a></li>
          <li><a href="/invoke"  style="color:#aabbcc;font-size: large">Invoke</a></li>
          <li><a href="/query">Query</a></li>
          <li><a href="/channels">Channels</a></li>
          <li><a href="/tester">StressTester</a></li>
          <li><a href="/about" >About</a></li>
        </ul>
      </div>
    </div>

    <div id="site_content">
        <form action="/doinvoke" method="post" enctype="application/x-www-form-urlencoded">
            <h3> Invoke chaincode</h3>
            Channel ID:<br>
            <input type="text" name="ccid" value="ambrchannel"><br>
            Function name:<br>
            <input type="text" name="function" value="set"><br>
            Invoke args:<br>
            <input type="text" name="args" value="[&quot;1&quot;,&quot;{\&quot;name\&quot;:\&quot;Tom\&quot;,\&quot;age\&quot;:20}&quot;]"><br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <!-- Footer -->
    <div id="footer">
      Copyright © 2018 @Ambr All Rights Reserved 
    </div>
  </div>
</body>
</html>
