
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Supply chain</title>
  <link crossorigin="anonymous" media="all" rel="stylesheet" href="/static/css/simple.css" />
</head>
<body>
  <div id="main">
    <!-- Header & Navigation -->
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="/"><span class="logo_colour">Supply chain</span></a></h1>
          <h2>2 stress tester tools</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="/" >Home</a></li>
          <li><a href="/register">Enroll</a></li>
          <li><a href="/invoke">Invoke</a></li>
          <li><a href="/query">Query</a></li>
          <li><a href="/channels">Channels</a></li>
          <li><a href="/tester" style="color:#aabbcc;font-size: large">StressTester</a></li>
          <li><a href="/about" >About</a></li>
        </ul>
      </div>
    </div>

    <div id="site_content">
        <h3> Last stress result:</h3>
        <p>{{.}}</p><br>

        <form action="/dotester" method="post" enctype="application/x-www-form-urlencoded">
            <h3> Stress tester</h3>
            How many threads:<br>
            <input type="text" name="threads" value="100"><br>
            How many rounds(do a get&set each round) (this value better >= threads, or nothing meaningful):<br>
            <input type="text" name="rounds" value="100"><br>            
            <input type="submit" value="Submit">
        </form>
    </div>

    <!-- Footer -->
    <div id="footer">
      Copyright © 2018 @Ambr All Rights Reserved 
    </div>
  </div>
</body>
</html>
